.Services {
  text-align: center;
  padding: 50px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.167);
}

.Services-Title {
  font-size: 2.5em;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 20px 0;
}

.Services-Description {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Services-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin-top: 20px;
}

.Service-Box {
  background: linear-gradient(120deg, rgba(230, 230, 230, 1) 0%, rgba(249, 249, 249, 1) 50%, rgba(230, 230, 230, 1) 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.167);
  transition: 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
}

.Service-Box:hover {
  transform: translateY(-10px);
  border: 2px solid var(--main-color);
  box-shadow: 0 8px 16px rgba(0, 40, 48, 0.586);
}

.Service-Box h2:hover {
  color: black;
}

.Service-Image {
  width: 80px; 
  height: 80px; 
  border-radius: 10px;
  margin-bottom: 10px;
}

.Service-Box h2 {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: 300;
  background: var(--main-gradient);
  color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text; 
}

.Service-Box p {
  font-size: 1em;
  color: #555;
  margin: 0;
}

.Button-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.Learn-More-Button {
  padding: 10px;
}


@media (max-width: 940px) {
  .Services-Grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (max-width: 768px) {
  .Services-Grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .Service-Box {
    padding: 15px;
  }

  .Service-Image {
    width: 60px;
    height: 60px;
  }

  .Service-Box h2 {
    font-size: 1.2em;
  }

  .Service-Box p {
    font-size: 0.9em;
  }
  .Services-Description {
    font-size: 1em;
    margin-bottom: 20px;
  }
}

@media (max-width: 508px) {
  .Services-Grid {
    grid-template-columns: repeat(1, 1fr);
  }

}



/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Initial hidden state */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards; /* Adjust duration as needed */
}

/* Delay for different elements */
.fade-in-1 {
  animation-delay: 0.5s;
}
.fade-in-2 {
  animation-delay: 0.5s;
}
.fade-in-3 {
  animation-delay: 0.8s;
}
.fade-in-4 {
  animation-delay: 1s;
}
.fade-in-5 {
  animation-delay: 1.2s;
}
.fade-in-6 {
  animation-delay: 1.4s;
}

/* Define the initial hidden state */
.hidden {
  opacity: 0;
  transform: translateY(20px); /* Optional: slight upward movement */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Define the visible state */
.visible {
  opacity: 1;
  transform: translateY(0);
}