.Home-Header {
  position: relative;
  padding: 0;
  margin: 0;
  transition: ease 0.3s;
  background-image: url('../../Assets/Images/night_dark.jpg');
  background-size: cover; /* Ensure the background image covers the entire header */
  background-position: center; /* Center the background image */
  height: 100vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.39);
  overflow: hidden; /* Prevent overflow causing white edges */
}

.Header-Body {
  padding-top: 70px;
  height: 100%; /* Ensure Header-Body takes full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

