
.Home-Header {
  position: relative;
  padding: 0;
  margin: 0;
  transition: ease 0.3s;
  background: var(--background-gradient);
}

.Header-Body{
  padding-top: 100px; ;
  height: 100vh;
  width: 100%;
}

.Header-Body h1{
  text-align: center;
  font-size: 35px;
}

.home-content {
  display: flex;
  flex-direction: row; /* Ensures the sections are in a row */
  justify-content: space-between;
  align-items: center;
}

.left-section {
  flex: 1;
  padding: 10px;
  align-self: center;
  max-width:800px;
}

.home-pic {
  max-width: 100%;
  height: auto;
}


.middle-section{
  flex: 1;
  padding: 10px;
  align-self: last baseline;
  display: flex;
  justify-content: center;
}



.middle-section a{
  border-radius: 100px;
  color: #fff;
  padding: 27px 25px;
  background-color: #168ca5;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.332);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.4s ease;
  cursor: pointer;
  animation: glowing 2s infinite alternate; 
  
}


.middle-section a:hover{
  opacity: 0.8;
  border: transparent;
  transform: scale(1.2);
  cursor: pointer;
}

.right-section {
  flex: 1;
  padding: 10px;
  padding-right: 30px;
  max-width: 600px;
  min-width: 500px;
  align-self:  center;
  background: linear-gradient(90deg, transparent 0%, rgb(23, 147, 154) 50%, rgb(52, 201, 221) 100%);
  width: 720px;
  padding-left: 50px;
  padding-bottom: 20px;
  height: auto;
  position: relative;
}

.right-section h1 {
  margin-bottom: 10px;
  text-align: right;
  color: white;
  position: relative;
}

.right-section p {
  text-align: right;
  margin: 0;
  color: rgb(38, 38, 38);
  margin-bottom: 10px;
  position: relative;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
  z-index: 0; /* Ensure the wave is behind the content */
}
