.Store {
  text-align: center;
  padding: 50px 20px;
  background: var(--background-gradient);
}

.Store-Title {
  font-size: 2.2em;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 20px 0;
  color: white;
}

.Store-Title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 4px; /* Adjust the height of the line */
  background: white; /* Adjust the color of the line */
  
}

.Store-Description {
  font-size: 1.2em;
  color: #eeeeeeba;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Button-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.Learn-More-Button-Store {
  padding: 15px 30px;
  background-color: white;
  color: var(--main-color);
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Initial hidden state */
.fade-in {
  opacity: 0;
  animation: fadeIn 3s forwards; /* Adjust duration as needed */
}

/* Delay for different elements */
.fade-in-1 {
  animation-delay: 1s;
}
.fade-in-2 {
  animation-delay: 1s;
}
.fade-in-3 {
  animation-delay: 1.3s;
}
.fade-in-4 {
  animation-delay: 1.5s;
}
.fade-in-5 {
  animation-delay: 1.8s;
}
.fade-in-6 {
  animation-delay: 2s;
}

/* Define the initial hidden state */
.hidden {
  opacity: 0;
  transform: translateY(50px); /* Optional: slight upward movement */
  transition: opacity 2s ease-out, transform 1s ease-out;
}

/* Define the visible state */
.visible {
  opacity: 1;
  transform: translateY(0);
}

/* MostOrderedProducts.css */
.MostOrderedProducts {
  margin-top: 100px;
}

.MostOrderedProducts h2 {
  font-size: 1.7em;
  margin-bottom: 20px;
}

.MostOrderedProducts-Grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  background-color: #1b1b1b68;
  padding: 15px;
  border-radius: 15px;
}

.MostOrderedProduct-Box {
  background: #f4f4f4;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MostOrderedProduct-Image {
  width: 100%;
  border-radius: 10px;
}

.MostOrderedProduct-Description {
  margin-top: 20px;
  text-align: center;
}

.MostOrderedProduct-Description h3 {
  font-size: 1.0em;
  margin-bottom: 10px;
}

.MostOrderedProduct-Description p {
  font-size: 0.8em;
  color: #555;
  margin-bottom: 10px;
}

.MostOrderedProduct-Description h4{
  font-weight: 600;
  font-size: 15px;
}

.MostOrderedProduct-Description button {
  padding: 8px 30px;
  font-size: 13px;
  color: var(--main-color);
  border: solid  var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
  font-weight: 300;
  width: 90%;
  background-color: white;
}

.MostOrderedProduct-Description button:hover {
  background: var(--main-gradient);
  color: white;
}

/* Responsive design for MostOrderedProducts-Grid */
@media (max-width: 1200px) {
  .MostOrderedProducts-Grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on medium screens */
  }
}

@media (max-width: 940px) {
  .MostOrderedProducts-Grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Auto-fit with a minimum column size */
  }
}

@media (max-width: 768px) {
  .MostOrderedProducts-Grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust for smaller screens */
  }

  .MostOrderedProduct-Box {
    padding: 15px;
  }

  .MostOrderedProduct-Description h3 {
    font-size: 1.2em;
  }

  .MostOrderedProduct-Description p {
    font-size: 0.8em;
  }

  .MostOrderedProduct-Description button {
    padding: 2px 15px;
    font-size: 70%;
    
  }
}

@media (max-width: 508px) {
  .MostOrderedProducts-Grid {
    grid-template-columns: repeat(2, 1fr); /* Single column on very small screens */
  }

  .MostOrderedProduct-Description h3 {
    margin-top: 5px;
    font-size: 0.7em;
  }
  .MostOrderedProduct-Description p {
    font-size: 0.5em;
  }
  .Store-Title::after {
    width: 200px;

    
  }

  .MostOrderedProduct-Description h4{
    font-weight: 600;
    font-size: 10px;
  }

  .MostOrderedProduct-Description button {
    padding: 5px 15px;
    font-size: 70%;
    
  }
  
}

@media (max-width: 308px) {
  .MostOrderedProducts-Grid {
    grid-template-columns: repeat(1, 1fr); /* Single column on very small screens */
  }
  .Store-Title::after {
    width: 50px;
    
  }
}

