@font-face {
  font-family: 'Bein Normal';
  src: url('./Assets/Fonts/bein-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Bein Normal', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-color:#168ca5;
  --second-color:rgba(14, 105, 117, 1);
  --main-gradient:linear-gradient(90deg, rgb(21, 139, 154) 0%, rgb(23, 147, 154) 50%, rgb(20, 164, 183) 100%);
  --background-gradient:linear-gradient(90deg, rgb(12, 83, 93) 0%, rgb(29, 106, 110) 50%, rgb(2, 60, 68) 100%);


}

h1{
  
  background: var(--main-gradient);
  color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text; 
}
h3{
  
  background: var(--main-gradient);
  color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text; 
}

a{
  text-decoration: none;
}

button{
  font-family: 'Bein Normal';
  padding:5px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  background-color: #168ca5;
  font-weight: bold;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover{
  opacity: 0.8;
  border: transparent;
  
  cursor: pointer;
}